
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    overflow: hidden;
}
body{
    background-color: rgb(3, 6, 10);
}
/* home section start here */
.home .container{
    position: relative;
    height: 100vh;
}
h1{
    /* color: #ffffff90; */
}
.home .container .login-content{
    background-color: transparent;
    height: auto;
    width: 50%;
    position: absolute;
    left: 27%;
    top: 10%;
    padding: 30px;
    border: 1px solid #ffffff30;
    /* text-align: center; */
    
}
.home .container .heading{
    text-align: center;
    color: #fff;

}
.home .container .submit-group{
    text-align: center;
}
.home .container #email{
    /* border-bottom:1px solid #000; */
    width: 100%;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    
}
.email{
    color: #fff;
}
.home .container .password{
    color:#fff;
}
.home .container #password{
    /* border-bottom:1px solid #000; */
    width: 100%;outline: none;
    background: transparent;
    color: #fff;
   border-bottom: 1px solid #fff;
}

.home .container .title{
width: 100%;
position: relative;
left: 50%;

}
.home .container .heading {
    /* position: absolute; */
    left: 40%;
    color: #fff;
}
.home .container .logo{
    position: absolute;
    left: 55%;

}
/* homr section end here */





/* message */
.message{
    background-color: rgb(248, 60, 60);
   margin-top: 20px;
   padding: 10px;
   border-radius: 5px;
   display: none;    
}
.container{
    position: relative;
}
#main{
    background-color: transparent;
   color: #fff;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 100px;  
    padding: 50px; 
    text-align: center;
    border: 1px solid #ffffff60;
    border-radius: 5px;
}
#fname{
     width: 30%;
     padding: 9px 20px;
     border-radius: 5px;
     outline : none;
     background :transparent;
     border-bottom: 1px solid #fff;
     color: #fff;
     /* border :none; */
}
#lname{
  width: 30%;
  padding: 9px 20px;
  border-radius: 5px;
  outline : none;
  background :transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  /* border :none; */
}
#email{
    width: 70%;
    /* padding: 9px 9px; */
    border-radius: 5px;
    /* margin: 20px; */
    outline : none;
    background :transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.email-logo{
    height: 50px;
  
}
#password{
    width: 30%;
    /* padding: 9px 20px; */
    border-radius: 5px;
    outline : none;
    background :transparent;
    border-bottom: 1px solid #fff;
    color: #fff;

}
.password-logo{
    height: 50px;
  
}
#conform-password{
    width: 30%;
    padding: 9px 20px;
    border-radius: 5px;
    outline : none;
    background :transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.create-signup{
    margin-top: 50px;
    margin-left: 30%;
}
.create-signup #createbtn{  
  list-style-type: none;
  padding-left: 5px;
  border-bottom: 1px solid red;
  margin-left: 10px;
}

.create-signup #createbtn a{
    overflow: hidden;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(29, 78, 143);
    /* padding: 5px 100px; */
}
.create-signup #createbtn a:hover{
    color: rgb(40, 176, 255);
}
 .create-signup .hint{
    color: #fff;
    list-style-type: none;
    font-size: 1.3rem;
    /* padding-right: 10px; */

}









