@media only screen and (max-width: 900px){
    .searchicon{
        width:35px;
        height:5vh;
        background-color:white;
    }
    .appicon{
        width:45px;
        height:6vh;
    }
    .appname{
       font-size: 23px; 
    }
}
@media only screen and (max-width: 600px) {
    .input {
        border:none;
        outline:none;
        font-size:12px;
    }
    .searchicon{
        width:30px;
        height:4vh;
        background-color:white;
    }
    .appicon{
        width:40px;
        height:5vh;
    }
    .appname{
       font-size: 20px; 
    }
  }