
#header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: arial;
}
#nav{
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
    font-weight: bold;
}
#section{
    width: 350px;
    float: left;
    padding: 10px;
    font-weight: bold;
}
#footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}
.w3-container{
    background-color: orangered;
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
}
.w3-container p{
     font-size: 1.2rem;
}
.container{
    background-color: #eeeeee;
    padding: 20px;
    font-family: sans-serif;
}
.city-portion{
    font-weight: bold;
    font-size: 1.1rem;

}
#new{
    background-color: cornflowerblue;
    padding: 1.5rem;
    color: darkblue;
    line-height: 1.5rem;
}
#new ul{
    border: 2px solid darkslategray;
    width: 20%;
    padding-bottom: 20px;
}
                /* Form */
/*.container-2{
    background-color: cadetblue;
    padding: 20px;
}
input{
    /* border: 1px 1px black;
    border-radius: 7px; */
  /*  padding: 5px;
}
option{
    border: 1px 1px black;
    border-radius: 7px;
    padding: 5px;
}
textarea{
    border-radius: 7px;
}
.container-2{
    margin-top: 6rem;
}
.container-2 legend{
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    text-shadow: 1px 1px red;
}
